<div class="mx-5 my-10">
  <div class="top">
    <div class="hero min-h-[700px]" style="background-image: url(<%= asset_path "first_view_cat.jpg" %>);"> 
      <p class="font-serif text-5xl ">「もふもふ」こそ正義</p>
    </div>
  </div>
  <div class="treatment  text-center">
    <p class="text-xl font-mono leading-loose mt-5">「モフは正義」の使い方</p>
      <p class="text-sm ">「モフは正義」は、<br>
      動物写真特化型のSNSサービスです。<br>
      可愛らしい動物写真の投稿が基本で、<br>
      人語も少ない仕様になっています。<br>
    </p>
  </div>
  <div class="contributor text-center">
    <p class="text-xl font-mono leading-loose mt-5">もふもふが好きな方へ</p>
      <p class="text-sm">まずは、一覧画面へ飛んでみてください！<br>
      動物写真しかないことに驚くことでしょう。<br>
      このサービスは、動物写真しかあげることが出来ない仕様になっています。<br>
      貴方の好きなもふもふにきっと出会えるはず・・・<br>
      出会えた時は、ぜひコメントを残してください！</p>
  </div>
  <div class="contributor text-center">
    <p class="text-xl font-mono leading-loose mt-5">我が子が可愛くてみんなに知ってもらいたい方へ</p>
      <p class="text-sm">まずは、ユーサー登録をお願い致します。<br>
      貴方の可愛い子の可愛らしい姿は、みんな見たいのです！<br>
      一覧画面で</p>
  </div>
  <div class="contributor text-center">
    <p class="text-xl font-mono leading-loose mt-5">人間の皆さんへ</p>
      <p class="text-sm">人語や人間を媒体にした写真を投稿しないようにご注意ください！<br>
      『いざ、可愛い写真にコメントを残そうとしても「にくきゅう文字」になってしまった！』<br>
      大丈夫です。<br>
      写真媒体の可愛い子に直接コメントが読めるように訳されているだけですので、どんどん褒めていきましょう！</p>
      <br>
      <p class="text-sm">『いざ、写真を投稿しようと思ったら、ERRORが出てしまった！』<br>
      それは、気をつけてください。<br>
      人間を媒体にした写真に関しては、このSNSの使用上、ERRORが出てしまいます。<br>
      もしかすると・・・今後、とんでもないことになってしまうかもしれませんので、<br>
      注意喚起が出た際は、お手数ですが人間を消してからの投稿をよろしくお願い致します。</p>
  </div>
  <div class="flex justify-center">
    <button  class="btn btn-outline btn-secondary mt-10">ユーザー登録をして、世界に入る</button>
  </div>
</div>