<footer class="bg-lime-300 body-font shadow">
   <div class="md:ml-auto flex flex-wrap text-base justify-center  text-pink-500">
    <%= link_to "プライバシーポリシー", "" ,class: "mr-5 hover:text-yellow-700" %>
    <%= link_to "利用規約", "" ,class: "mr-5 hover:text-yellow-700" %>
    <%= link_to "お問い合せ", "" ,class: "mr-5 hover:text-yellow-700" %>
  </div>
</footer>