<style>
</style>

<div class="font-yomogi mx-5 my-5">
  <div class="top">
    <div class="md:hero md:min-h-[600px] md:relative bg-cover bg-center min-h-[200px]" style="background-image: url(<%= asset_path "space_cat.png" %>);">
      <!-- This file lives in app/views/errors/bad_request.html.erb -->
      <div class="dialog">
        <div class="text-white" style="position: absolute; bottom: 0; right: 0;">
          <h1 class="text-right">Bad request</h1>
          <p class="text-right">The service received a incomplete request.</p>
        </div>
      </div>
    </div>
  </div>
</div>
