<div class="font-yomogi mx-5 my-5">
  <div class="top">
    <div class="hero min-h-[600px] relative" style="background-image: url(<%= asset_path "space_cat.png" %>);"> 
      <!-- This file lives in app/views/errors/not_found.html.erb -->
      <div class="dialog">
        <div class="text-white" style="position: absolute; bottom: 0; right: 0;">
          <h1>The page you were looking for doesn't exist.</h1>
          <p>You may have mistyped the address or the page may have moved.</p>
          <p>If you are the application owner check the logs for more information.</p>
        </div>
      </div>
    </div>
  </div>
</div>