<div class='mr10 float-right'>
  <a href="#"><i class="fa-regular fa-trash-can fa-2xl" style="color: #909398;"></i></i></i></a>
  <a href="#"><i class="fa-regular fa-pen-to-square fa-2xl" style="color: #909398;"></i></a>
</div>
