<div class="col-sm-12 col-lg-4 mb-3">
  <div id="post-id-<%= post.id %>">
    <div class="card">
      <h4 class="card-name">
        <a href="#">
          <%= post.name %>
        </a>
      </h4>
      <%= image_tag 'logo_nikukyu.jpg', class: 'card-img-top', size: '300x200' %>
      <div class="card-body">
        <div class='mr10 float-right'>
          <a href="#"><%#= icon 'fas', 'trash', class: 'pr-1' %></a>
          <a href="#"><%#= icon 'fa', 'pen' %></a>
        </div>
        <ul class="list-inline">
          <li class="list-inline-item">
            <%#= icon 'far', 'user' %>
            <%#= post.user.decorate.name %>
          </li>
          <li class="list-inline-item">
            <%#= icon 'far', 'calendar' %>
            <%#= l board.created_at, format: :long %>
          </li>
        </ul>
        <p class="card-text"><%= post.body %></p>
      </div>
    </div>
  </div>
</div>
