<div class="font container pt-3">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @posts.present? %>
          <%= render @posts %>
        <% else %>
          <p><%= t('.no_result') %><%= image_tag 'nikukyu.jpg', size: "50x50" %></p>
        <% end %>
        <dev class="flex items-center justify-center text-center">
          <%= paginate @posts %>
        </dev>
      </div>
    </div>
  </div>
</dev>